---
layout: layouts/page.njk
pagination:
  data: categories
  size: 1
  alias: cat
permalink: "/blog/{{ cat.slug }}/"
eleventyComputed:
  title: "{{ cat.name }}"
---
<nav class="filters" aria-label="Categories">
  <a href="/blog/">All</a>
  {%- for c in categories %}
  <a href="/blog/{{ c.slug }}/"{% if c.slug == cat.slug %} aria-current="page"{% endif %}>{{ c.name }}</a>
  {%- endfor %}
  <a href="/tags/">Tags</a>
</nav>
{%- set postList = collections["category-" + cat.slug] %}
{% include "partials/post-list.njk" %}
<p class="subscribe"><a href="/blog/{{ cat.slug }}/feed.xml">Subscribe to {{ cat.name }}</a></p>
