---
layout: layouts/page.njk
title: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---
<p>There's nothing at this address. Try the <a href="/">home page</a> or <a href="/blog/">all writing</a>.</p>
