---
layout: layouts/page.njk
title: Feeds
description: Follow new writing in a feed reader.
permalink: /feeds/
---
<p class="lede">Paste one of these addresses into a feed reader to get new posts as they appear.</p>
<ul class="feed-list">
  {%- set seedLevel = levels | byField("oneLine", true) | first %}
  <li><a href="/feed.xml">All writing</a>{% if seedLevel %} <span class="feed-note">except {{ seedLevel.name | lower }}s, which have their own feed</span>{% endif %} <code>{{ site.url }}/feed.xml</code></li>
  {%- for l in levels | reverse %}
  <li><a href="/blog/{{ l.slug }}/feed.xml">{{ l.name }}{% if l.oneLine %} (one-line ideas){% endif %}</a> <code>{{ site.url }}/blog/{{ l.slug }}/feed.xml</code></li>
  {%- endfor %}
</ul>
