---
layout: layouts/page.njk
title: Research levels
permalink: /levels/
---
{{ "levels-intro" | siteText | safe }}
<dl class="levels">
  {%- for l in levels %}
  <div id="{{ l.slug }}">
    <dt>{{ l.name }}</dt>
    <dd>{{ ("level-" + l.slug) | siteText | safe }}</dd>
  </div>
  {%- endfor %}
</dl>
